@font-face {
  font-family: 'Oswald Regular';
  src: url("../fonts/Oswald-Regular.ttf");
}
@font-face {
  font-family: 'Oswald Bold';
  src: url("../fonts/Oswald-Bold.ttf");
}
@font-face {
  font-family: 'Roboto Regular';
  src: url("../fonts/Roboto-Regular.ttf");
}
@font-face {
  font-family: 'Roboto Medium Italic';
  src: url("../fonts/Roboto-MediumItalic.ttf");
}
@font-face {
  font-family: 'Roboto Bold Italic';
  src: url("../fonts/Roboto-BoldItalic.ttf");
}
@font-face {
  font-family: 'Oswald Medium';
  src: url("../fonts/Oswald-Medium.ttf");
}
@font-face {
  font-family: 'RobotoCondensed Regular';
  src: url("../fonts/RobotoCondensed-Regular.ttf");
}
.section_intro {
  padding-top: 40px;
  padding-bottom: 75px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/intro_cottage.png");
  background-size: cover;
}
.section_intro header {
  margin-bottom: 220px;
}
.section_intro header .menu_nav .navbar-toggler {
  border-color: #ffffff;
  margin: 0 auto;
  margin-bottom: 20px;
}
.section_intro header .menu_nav .navbar-collapse {
  justify-content: flex-end;
}
.section_intro header .menu_nav .navbar-collapse.show .user_in::before,
.section_intro header .menu_nav .navbar-collapse.collapsing .user_in::before {
  width: 0;
}
.section_intro header .menu_nav a {
  text-decoration: none;
  color: #ffffff;
  display: inline-block;
  font-family: 'Oswald Regular';
  font-size: 2rem;
  margin-right: 40px;
}
.section_intro header .menu_nav a:hover {
  color: #f8902f;
}
@media (max-width: 992px) {
  .section_intro header .menu_nav a {
    width: 100%;
    margin: 0 auto;
  }
}
.section_intro header .menu_nav .social_nav {
  flex: 1;
}
.section_intro header .menu_nav .social_nav a {
  margin-right: 20px;
}
@media (max-width: 992px) {
  .section_intro header .menu_nav .social_nav {
    width: 100%;
    margin: 0 auto;
  }
  .section_intro header .menu_nav .social_nav a {
    margin: 0;
    margin-bottom: 10px;
  }
}
@media (max-width: 576px) {
  .section_intro header .menu_nav .social_nav {
    width: 100%;
  }
  .section_intro header .menu_nav .social_nav a {
    margin-right: 5px;
  }
}
.section_intro header .menu_nav .user_in {
  position: relative;
}
.section_intro header .menu_nav .user_in::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 2px;
  left: -30%;
  background-color: #f8902f;
}
@media (max-width: 1600px) {
  .section_intro header {
    margin-bottom: 100px;
  }
}
@media (max-width: 992px) {
  .section_intro header {
    margin-bottom: 60px;
  }
}
.section_intro .info_intro {
  color: #ffffff;
  font-family: 'Oswald Bold';
}
.section_intro .info_intro .title {
  font-size: 9.6rem;
  line-height: 115%;
  text-transform: uppercase;
  letter-spacing: -1px;
}
@media (max-width: 1600px) {
  .section_intro .info_intro .title {
    font-size: 8.4rem;
  }
}
@media (max-width: 1200px) {
  .section_intro .info_intro .title {
    font-size: 8.4rem;
  }
}
@media (max-width: 768px) {
  .section_intro .info_intro .title {
    font-size: 7.2rem;
  }
}
@media (max-width: 576px) {
  .section_intro .info_intro .title {
    font-size: 4.8rem;
  }
}
.section_intro .info_intro .stroke {
  color: transparent;
  -webkit-text-stroke: 1px #ffffff;
  margin-bottom: 60px;
}
@media (max-width: 768px) {
  .section_intro .info_intro .stroke {
    margin-bottom: 30px;
  }
}
.section_intro .info_intro .info {
  font-family: 'Roboto Regular';
  font-size: 1.6rem;
  line-height: 160%;
  margin-bottom: 60px;
}
@media (max-width: 992px) {
  .section_intro {
    padding-top: 40px;
    padding-bottom: 40px;
    text-align: center;
  }
}
@media (max-width: 576px) {
  .section_intro {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}
.section_mailing {
  padding: 40px 0;
  background-color: #111111;
}
.section_mailing p {
  font-family: 'Oswald Medium';
  font-size: 4.8rem;
  line-height: 150%;
  text-transform: uppercase;
  width: 98%;
  color: #ffffff;
}
@media (max-width: 1200px) {
  .section_mailing p {
    font-size: 3.6rem;
  }
}
@media (max-width: 992px) {
  .section_mailing p {
    text-align: center;
    margin-bottom: 60px;
  }
}
.section_mailing .form_message {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.section_mailing .form_message > div {
  width: 48%;
}
@media (max-width: 576px) {
  .section_mailing .form_message > div {
    width: 100%;
  }
}
.section_mailing .form_message .message_block .input_row {
  height: calc(60% - 1px);
  margin-bottom: 20px;
}
.section_mailing .form_message .message_block .my_btn {
  width: 50%;
  float: right;
}
@media (max-width: 768px) {
  .section_mailing .form_message .message_block .my_btn {
    width: 75%;
  }
}
@media (max-width: 576px) {
  .section_mailing .form_message .message_block .my_btn {
    width: 100%;
  }
}
.section_mailing .form_message .input_row {
  position: relative;
  margin-bottom: 40px;
}
.section_mailing .form_message .input_row label {
  position: absolute;
  left: 12px;
  font-size: 2.4rem;
  font-family: 'Oswald Regular';
  color: #777777;
  top: 0;
  transition: top 0.5s ease 0s;
}
.section_mailing .form_message .input_row label.change_input {
  top: -40px;
}
.section_mailing .form_message .input_row input,
.section_mailing .form_message .input_row textarea {
  border: none;
  border-bottom: 2px solid #777777;
  width: 100%;
  font-size: 2.4rem;
  font-family: 'Oswald Regular';
  color: #f8902f;
  background-color: transparent;
}
.section_mailing .form_message .input_row input:focus,
.section_mailing .form_message .input_row textarea:focus {
  outline: none;
  border-bottom-color: #f8902f;
}
.section_mailing .form_message .input_row input:focus + label,
.section_mailing .form_message .input_row textarea:focus + label {
  color: #ff8b38;
}
.section_mailing .form_message .input_row input:focus + label:not(.change_input),
.section_mailing .form_message .input_row textarea:focus + label:not(.change_input) {
  top: -40px;
}
@-webkit-keyframes autofill {
  to {
    color: #f8902f;
    background: transparent;
  }
}
.section_mailing .form_message .input_row input:-webkit-autofill,
.section_mailing .form_message .input_row textarea:-webkit-autofill {
  -webkit-animation-name: autofill;
  -webkit-animation-fill-mode: both;
}
.section_mailing .form_message .input_row textarea {
  resize: none;
  height: 100%;
  padding: 0;
}
.section_mailing .form_message .input_row:last-child {
  margin-bottom: 0;
}
@media (max-width: 576px) {
  .section_mailing .form_message .input_row:last-child {
    margin-bottom: 40px;
  }
}
@media (max-width: 576px) {
  .section_mailing {
    padding-top: 20px;
    padding-bottom: 60px;
  }
}
.section_questions {
  padding-top: 80px;
  position: relative;
}
@media (max-width: 992px) {
  .section_questions {
    padding-top: 20px;
  }
}
.section_questions .img_questions img {
  width: 100%;
}
@media (max-width: 992px) {
  .section_questions .img_questions {
    display: none;
  }
}
.section_questions .bumps_block {
  position: absolute;
  top: -10%;
  right: -5%;
  z-index: -5;
}
@media (max-width: 992px) {
  .section_questions .bumps_block {
    top: 2%;
    right: 10%;
  }
}
@media (max-width: 576px) {
  .section_questions .bumps_block {
    top: 4%;
    right: -10%;
  }
}
.section_questions h2 {
  color: #111111;
  font-size: 4.8rem;
  font-family: 'Oswald Medium';
  text-transform: uppercase;
  margin-bottom: 60px;
}
@media (max-width: 992px) {
  .section_questions h2 {
    text-align: center;
    margin-bottom: 40px;
  }
}
@media (max-width: 576px) {
  .section_questions h2 {
    text-align: center;
    margin-bottom: 40px;
    font-size: 3.6rem;
  }
}
.section_questions .questions_collapse {
  width: 90%;
  opacity: 0.85;
}
@media (max-width: 992px) {
  .section_questions .questions_collapse {
    margin: 0 auto;
  }
}
.section_questions .questions_collapse .card:last-child {
  margin-bottom: 0;
}
.section_questions .questions_collapse .card {
  border: 0;
  margin-bottom: 15px;
}
.section_questions .questions_collapse .card .my_collapse {
  font-family: 'Roboto Regular';
  font-size: 1.6rem;
  color: #111111;
}
.section_questions .questions_collapse .card .my_collapse.show,
.section_questions .questions_collapse .card .my_collapse.collapsing {
  border: 1px solid #f8902f;
  border-top: 0;
}
.section_questions .questions_collapse .card .card-header {
  background-color: #f8902f;
}
.section_questions .questions_collapse .card .card-header .my_collapse_btn {
  font-family: 'RobotoCondensed Regular';
  font-size: 2.4rem;
  text-decoration: none;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 10px 0;
  color: #ffffff;
}
.section_questions .questions_collapse .card .card-header .my_collapse_btn .arrow {
  transition: transform 0.4s;
}
.section_questions .questions_collapse .card .card-header .my_collapse_btn h5 {
  flex-grow: 1;
  text-align: start;
  margin-bottom: 0;
  margin-left: 15px;
  font-family: 'Montserrat Regular';
  font-size: 1.4rem;
  text-transform: uppercase;
}
.section_questions .questions_collapse .card .card-header .my_collapse_btn:hover {
  text-decoration: none;
}
.section_questions .questions_collapse .card .card-header .my_collapse_btn[aria-expanded="true"] .arrow {
  transform: rotate(90deg);
}
.section_exterior .carousel_exterior {
  position: relative;
}
.section_exterior .carousel_exterior .slide_item .img_slide {
  width: 60%;
  float: right;
}
@media (max-width: 1200px) {
  .section_exterior .carousel_exterior .slide_item .img_slide {
    width: 100%;
  }
}
.section_exterior .carousel_exterior .slide_item img {
  width: 100%;
  height: 100%;
}
.section_exterior .carousel_exterior .slide_item .info_slide {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  height: 60%;
  top: 50%;
  left: 0;
  transform: translate(0, -50%);
  color: #ffffff;
  background: linear-gradient(rgba(1, 1, 1, 0.8), rgba(1, 1, 1, 0.8));
  padding: 0 80px;
}
@media (max-width: 1400px) {
  .section_exterior .carousel_exterior .slide_item .info_slide {
    width: 60%;
    height: 70%;
  }
}
@media (max-width: 1200px) {
  .section_exterior .carousel_exterior .slide_item .info_slide {
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(1, 1, 1, 0.5), rgba(1, 1, 1, 0.5));
    text-align: center;
  }
}
@media (max-width: 576px) {
  .section_exterior .carousel_exterior .slide_item .info_slide {
    justify-content: flex-start;
    padding: 5px 5px;
  }
}
.section_exterior .carousel_exterior .slide_item .info_slide h3 {
  font-family: 'Oswald Medium';
  font-size: 4.8rem;
  margin-bottom: 40px;
}
@media (max-width: 576px) {
  .section_exterior .carousel_exterior .slide_item .info_slide h3 {
    font-size: 3.2rem;
    margin-bottom: 10px;
  }
}
.section_exterior .carousel_exterior .slide_item .info_slide p {
  font-family: 'Roboto Regular';
  font-size: 1.6rem;
}
@media (max-width: 576px) {
  .section_exterior .carousel_exterior .slide_item .info_slide p {
    font-size: 1.2rem;
  }
}
.section_exterior .carousel_exterior .control_block {
  position: absolute;
  bottom: 0;
  display: flex;
  width: 15%;
  left: 22%;
  bottom: 5%;
}
@media (max-width: 1600px) {
  .section_exterior .carousel_exterior .control_block {
    width: 17%;
    left: 20%;
  }
}
@media (max-width: 1400px) {
  .section_exterior .carousel_exterior .control_block {
    width: 20%;
    left: 17%;
  }
}
@media (max-width: 1200px) {
  .section_exterior .carousel_exterior .control_block {
    width: 50%;
    left: 25%;
  }
}
@media (max-width: 576px) {
  .section_exterior .carousel_exterior .control_block {
    width: 50%;
    left: 25%;
    bottom: 10%;
  }
}
.section_exterior .carousel_exterior .control_block .num_slide_block {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
}
.section_exterior .carousel_exterior .control_block .num_slide_block span {
  color: #111111;
  font-size: 4.8rem;
  font-family: 'Oswald Regular';
  line-height: 150%;
  letter-spacing: 1%;
}
@media (max-width: 1200px) {
  .section_exterior .carousel_exterior .control_block .num_slide_block span {
    color: #ffffff;
    -webkit-text-stroke: 1px #111111;
  }
}
@media (max-width: 768px) {
  .section_exterior .carousel_exterior .control_block .num_slide_block span {
    font-size: 3.6rem;
  }
}
.section_exterior .carousel_exterior .control_block .num_slide_block span.count_white {
  color: #ffffff;
  -webkit-text-stroke: 1px #111111;
}
.section_exterior .carousel_exterior .control_block .arrow_control {
  color: #111111;
  font-size: 7.8rem;
  opacity: 1;
}
@media (max-width: 1200px) {
  .section_exterior .carousel_exterior .control_block .arrow_control {
    color: #ffffff;
    -webkit-text-stroke: 4px #111111;
  }
}
.section_exterior .carousel_exterior .control_block .arrow_control:hover {
  color: #f8902f;
  -webkit-text-stroke: 4px #111111;
}
footer .map_block {
  height: 100%;
}
footer .contact_block {
  width: 100%;
  height: 100%;
  background-color: #f8902f;
  padding: 40px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  line-height: 150%;
  letter-spacing: 1%;
  text-align: center;
}
@media (max-width: 1200px) {
  footer .contact_block {
    justify-content: flex-start;
    padding-top: 30px;
  }
}
@media (max-width: 992px) {
  footer .contact_block {
    padding: 20px 0;
  }
}
footer .contact_block .social_nav {
  padding-top: 45px;
  margin: 0 auto;
}
@media (max-width: 1200px) {
  footer .contact_block .social_nav {
    padding-top: 30px;
  }
}
@media (max-width: 992px) {
  footer .contact_block .social_nav {
    padding-top: 20px;
  }
}
footer .contact_block .social_nav i:hover {
  color: #ffffff;
  -webkit-text-stroke: 2px #111111;
}
footer .contact_block h3 {
  font-family: 'Oswald Medium';
  font-size: 4.8rem;
  text-transform: uppercase;
  margin-bottom: 90px;
}
@media (max-width: 1200px) {
  footer .contact_block h3 {
    margin-bottom: 40px;
  }
}
@media (max-width: 576px) {
  footer .contact_block h3 {
    font-size: 3.6rem;
  }
}
footer .contact_block .contact_row {
  display: flex;
  font-family: 'Roboto Regular';
  font-size: 2.4rem;
  margin-bottom: 45px;
}
@media (max-width: 1200px) {
  footer .contact_block .contact_row {
    margin-bottom: 20px;
  }
}
footer .contact_block .contact_row img {
  margin-right: 10px;
}
.section_review {
  padding-top: 40px;
  padding-bottom: 40px;
}
.section_review h3 {
  text-align: center;
  font-family: 'Oswald Medium';
  font-size: 4.8rem;
  line-height: 150%;
  letter-spacing: 1%;
  margin-bottom: 20px;
}
@media (max-width: 576px) {
  .section_review h3 {
    font-size: 3.6rem;
    margin-bottom: 5px;
  }
}
.section_review .carousel_review .chevron_control {
  color: #111111;
  font-size: 7.8rem;
  opacity: 1;
}
.section_review .carousel_review .chevron_control:hover {
  color: #f8902f;
  -webkit-text-stroke: 4px #111111;
}
.section_review .carousel_review .carousel-inner {
  width: 70%;
  margin: 0 auto;
}
.section_review .carousel_review .carousel-inner .review_block {
  display: flex;
}
.section_review .carousel_review .carousel-inner .review_block .review {
  padding-left: 60px;
}
@media (max-width: 992px) {
  .section_review .carousel_review .carousel-inner .review_block .review {
    padding-left: 0;
  }
}
.section_review .carousel_review .carousel-inner .review_block .review .quote_review {
  font-family: 'Roboto Medium Italic';
  color: #777777;
  font-size: 2.4rem;
}
@media (max-width: 576px) {
  .section_review .carousel_review .carousel-inner .review_block .review .quote_review {
    font-size: 1.6rem;
  }
}
.section_review .carousel_review .carousel-inner .review_block .review .autor_review {
  padding-left: 90px;
  font-family: 'Roboto Bold Italic';
  color: #111111;
  font-size: 3.6rem;
  position: relative;
}
@media (max-width: 992px) {
  .section_review .carousel_review .carousel-inner .review_block .review .autor_review {
    font-size: 2.4rem;
  }
}
.section_review .carousel_review .carousel-inner .review_block .review .autor_review:before {
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  width: 70px;
  height: 2px;
  background-color: #f8902f;
}
.section_review .carousel_review .carousel-inner .review_block .quote_img img {
  border-radius: 50%;
  height: 200px;
}
@media (max-width: 992px) {
  .section_review .carousel_review .carousel-inner .review_block .quote_img {
    display: none;
  }
}
html {
  font-size: 10px;
}
p {
  margin: 0;
  padding: 0;
}
.main_container {
  max-width: 1920px;
  margin: 0 auto;
  overflow: hidden;
}
.my_btn {
  border: none;
  border-radius: 0;
  border: 1px solid #f8902f;
  font-family: 'Oswald Regular';
  font-size: 2.4rem;
  width: 100%;
  padding: 20px 0;
}
.orange_btn {
  color: #ffffff;
  background-color: #f8902f;
}
.transparent_btn {
  background-color: transparent;
  color: #f8902f;
}
.transparent_btn:hover,
.orange_btn:hover {
  background-color: #894505;
  border: 1px solid #f8902f;
}
.social_nav {
  display: flex;
  justify-content: flex-start;
  max-width: 50%;
}
.social_nav a {
  margin-right: 20px;
}
.social_nav i {
  font-size: 2.8rem;
  color: #ffffff;
}
.social_nav i:hover {
  color: #f8902f;
}
@media (min-width: 1200px) {
  .container {
    max-width: 1780px;
  }
}
@media (max-width: 992px) {
  html {
    font-size: 8px;
  }
}
.container-fluid {
  padding: 0;
}
