// main: ../styles.less

.section_mailing {
    padding: 40px 0;
    background-color: @mailing_bg;

    p {
        font-family: 'Oswald Medium';
        font-size: 4.8rem;
        line-height: 150%;
        text-transform: uppercase;

        width: 98%;

        color: @white;
    }

    .my_btn {
        height: 75px;
    }


    .mailing_email {
        padding: 0 20px;
        height: 75px;
        width: 100%;
        background-color: transparent;
        color: @input_color;

        font-size: 2.4rem;
        font-family: 'Oswald Regular';
        margin-right: 20px;
    }

    .mailing_email:focus {
        outline: none;
        border-color: @orange;
    }

}

