// main: ../styles.less

.section_intro {
    padding-top: 40px;
    padding-bottom: 75px;

    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("@{img_path}/intro_cottage.png");
    background-size: cover;

    header {
        margin-bottom: 220px;

        .menu_nav {

            .navbar-toggler {
                border-color: @white;
                margin: 0 auto;
                margin-bottom: 20px;
            }

            .navbar-collapse {
                justify-content: flex-end;

                &.show,
                &.collapsing {
                    .user_in::before {
                        width: 0;
                    }

                }
            }

            a {
                text-decoration: none;
                color: @white;
                display: inline-block;

                font-family: 'Oswald Regular';
                font-size: 2rem;

                margin-right: 40px;

                &:hover {
                    color: @orange;
                }

                @media (max-width: @width_lg) {
                    width: 100%;
                    margin: 0 auto;
                }
            }

            .social_nav {
                flex: 1;

                a {
                    margin-right: 20px;
                }

                @media (max-width: @width_lg) {
                    width: 100%;
                    margin: 0 auto;

                    a {
                        margin: 0;
                        margin-bottom: 10px;
                    }
                }

                @media (max-width: @width_sm) {
                    width: 100%;

                    a {
                        margin-right: 5px;
                        ;
                    }

                }
            }

            .user_in {
                position: relative;

                &::before {
                    content: "";
                    position: absolute;
                    height: 100%;
                    width: 2px;

                    left: -30%;

                    background-color: @orange;
                }
            }
        }

        @media (max-width: 1600px) {
            margin-bottom: 100px;
        }

        @media (max-width: @width_lg) {
            margin-bottom: 60px;
        }
    }

    .info_intro {
        color: @white;
        font-family: 'Oswald Bold';

        .title {
            font-size: 9.6rem;
            line-height: 115%;
            text-transform: uppercase;
            letter-spacing: -1px;

            @media (max-width: 1600px) {
                font-size: 8.4rem;
            }

            @media (max-width: @width_xl) {
                font-size: 8.4rem;
            }

            @media (max-width: @width_md) {
                font-size: 7.2rem;
            }

            @media (max-width: @width_sm) {
                font-size: 4.8rem;
            }
        }

        .stroke {
            color: transparent;
            -webkit-text-stroke: 1px @white;

            margin-bottom: 60px;

            @media (max-width: @width_md) {
                margin-bottom: 30px;
            }
        }

        .info {
            font-family: 'Roboto Regular';
            font-size: 1.6rem;
            line-height: 160%;

            margin-bottom: 60px;
        }

    }

    @media (max-width: @width_lg) {
        padding-top: 40px;
        padding-bottom: 40px;

        text-align: center;
    }

    @media (max-width: @width_sm) {
        padding-top: 20px;
        padding-bottom: 20px;

    }


}